build
.vscode
tests/CMakeLists.txt
tests/assets/cube.blend
tests/assets/cube.gltf
tests/assets/GearboxAssy.gltf
tests/assets/GearboxAssy0.bin
tests/assets/suzanne.blend
tests/assets/suzanne.gltf
tests/ext/catch.hpp
tests/ext/json.hpp
tests/ext/stb_image_write.h
tests/ext/stb_image.h
tests/ext/tiny_gltf.h
tests/shaders/fallback.frag
tests/shaders/passthru.vert
tests/shaders/standard.vert
tests/shaders/vertexColor.frag
tests/src/main.cc
tests/src/VulkanGraphicsApp.cc
tests/src/VulkanGraphicsApp.h
tests/src/VulkanSetupBaseApp.cc
tests/src/VulkanSetupBaseApp.h
tests/src/data/DeviceSyncedBuffer.h
tests/src/data/UniformBuffer.cc
tests/src/data/UniformBuffer.h
tests/src/data/VertexGeometry.h
tests/src/data/VertexInput.h
tests/src/utils/common.h
tests/src/utils/FpsTimer.cc
tests/src/utils/FpsTimer.h
tests/src/utils/ModelContainer.cc
tests/src/utils/ModelContainer.h
tests/src/utils/optional.h
tests/src/vkutils/vkutils_VulkanRenderPipeline.cc
tests/src/vkutils/vkutils.cc
tests/src/vkutils/vkutils.h
tests/src/vkutils/VulkanDevices.cc
tests/src/vkutils/VulkanDevices.h
assets/GearboxAssy.gltf
assets/GearboxAssy0.bin
